body {
	background-color: #fefefe;
}

.centerstage {
	margin: 0 auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	margin-top: 10px;
}
a.btn {
display: block;
}

.error-msg {
	color: red;
}