<!DOCTYPE html>
<html>
<head>
	<title>Microblog</title>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- GOOGLE FONTS -->
	
<link href="https://fonts.googleapis.com/css?family=Orbitron:500|Raleway" rel="stylesheet">

<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav" >
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	  </button>
	      <a class="navbar-brand" href="{{ url_for('index')}}">
	        Microblog
	      </a>
	    </div>
		<div class="container-fluid collapse navbar-collapse" id="mynav">
			<ul class="nav navbar-nav">
				 {% if current_user.is_anonymous %}
				<li><a href="{{url_for('login')}}">login</a></li>
				{% else %}
				<li><a href="{{url_for('logout')}}">logout</a></li>
				<li><a href="{{url_for('user', username=current_user.username)}}">profile</a></li>
				<li><a href="{{url_for('post_list')}}">all posts</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
	{% block content %}
	
	{% endblock %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>